@charset "utf-8";

@import url("normalize.css");

@font-face {
    font-family: 'HanyiSentyZhao';
    src: url('../font/HanyiSentyZhao_Regular.ttf');        
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSerifJP-Light';
    src: url('../font/NotoSerifJP-Light.otf');

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideLeft {
    0% { transform: translateX(100%);}
    100% { transform: translateX(0);}
    
}


  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fadeInAnime {
    animation: fadeIn 1s;
  }

  .fadeOutAnime {
    animation: fadeOut 1s;
  }

html {
    font-size: 1.1rem;
    box-sizing: border-box;
    font-family: 'NotoSerifJP-Light', sans-serif;
    
}
*{
box-sizing: inherit;
}

/* variables */
:root{     
    
    --main-color:rgb(83, 83, 83);
    --main-color-transparent:rgba(104, 104, 104, 0.25);    
    --second-color:rgb(231, 231, 231);    
    --second-color-transparent:rgba(255, 253, 253, 0.5);
    --third-color:hsl(46, 83%, 61%);
    --forth-color:#DE7041;
    --fifth-color: rgb(202, 202, 202);
    --transparent: rgba( 255, 255, 255, 0);
    --header-color: white;
    
    /* palette */
    --font-color-1: #000000;
    --font-color-2:#e2e2e2;
    --font-color-3:#d4b572;
    --font-color-4:#969595;
    --deep-color: #ad7f1c;

    --hr-color: #000000;


}

h1{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    margin-top: 0;
    margin-bottom: 0;
  
}


h2{
    font-size: 1.3rem;
}

h2, h3, h4, h5, h6, p{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.title_underline{
    border-bottom:solid 1px var(--deep-color);
    
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 160px;
  }
  
  .circle {
    stroke: var(--main-color);
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

/*anchor tag*/
a, input{
    font-size: 0.8rem;
    color: var(--font-color-1);
    /* border: solid 1px var(--main-color); */
    padding: 10px 100px;
    text-decoration: none;
}

/* a:hover, a:focus, input:hover, input:focus{
    color:var(--font-color-2);
    background-color:var(--main-color);
    border: solid 1px var(--main-color);
    padding: 10px 100px;
    text-decoration: none;
    transition: all 0.4s ease;
} */

/* a:active, input:active{
    color:var(--font-color-2);
    background-color:var(--font-color-3);
    border: solid 1px var(--font-color-3);
    padding: 10px 100px;
    text-decoration: none;
} */

.fadein_img { 
    animation: fadeIn 3s; 
}

#background_img{
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-image: url("../images/omakase-restaurant2_bg.jpg"); */
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    

}

/*scroll animation*/
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
opacity: 1;
transform: translate(0, 0);
}


/*header */
header{
    background-color: var(--header-color);
}

header p{
    text-align: right;
}

header p a{
    padding-right: 10px;
}

#menu_block{
    margin-right: 50px;
}

main, section, article{
    padding: 10px;
}

.off{
    display: none;
}


/*nav*/
.show {
	display: block;
    animation: 0.5s both slideLeft; 
}



#nav_container{
    display: flex;
    background-color: var(--main-color);
    transition: transform 2s;
    
}

#nav_ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none;
    padding-left: 10px;
    width: 40%;
}

#nav_ul li{
    width: 100%;
}

#nav_ul p{
    width: 40%;
}
#nav_ul p a{
    padding: 20px;
}

#nav_item2, #nav_item3, #nav_item4{
    padding-top: 5px;
    flex: 1 1 0;
}

#nav_item1{
    flex: 1 1 0;
}

.reverse_a{
    color: var(--font-color-2);
    text-decoration:none;
    display: block;
    border-bottom: solid 1px var(--font-color-2);
    padding-left: 10px;
    padding-right: 0px;

}

.reverse_a:hover, .reverse_a:focus{
    color: var(--font-color-4);
    text-decoration:none;
    border-bottom: solid 1px var(--font-color-4);
    padding-left: 10px;
    padding-right: 0px;
}

.reverse_a:active{
    color: var(--font-color-3);
    background-color: var(--font-color-1);
    text-decoration:none;
    border: solid 1px var(--font-color-1);
    border-bottom: solid 1px var(--font-color-3);
    padding-left: 10px;
    padding-right: 0px;
}

.nav_img_big:hover, .nav_img_big:focus{
    transition: transform 0.5s;
    transform: translate(0, -10px) scale(1.1);

}

.nav_img:hover, .nav_img:focus{
    transition: transform 0.5s;
    transform: translate(0, -10px) scale(1.5);

}

/*logo anchor tag*/
.logo_a{
    color: var(--font-color-3);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 2rem;
}

.logo_a:hover, a:focus{
    color:var(--font-color-2);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.logo_a:active{
    color:var(--font-color-4);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
}



#nav_logo{
    
    font-family: 'HanyiSentyZhao', sans-serif;
    font-size: 10rem;
    color: var(--font-color-2);
    position: relative;
    left: 20%;
    top: 70px;
}

.menu{
    color: var(--font-color-3);
    font-size: 1.5rem;
}

/*buttons*/
.plus{
    color: var(--font-color-3);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 5rem;
}
.add_button {
    position: fixed;
    bottom: 0px;
    right:0px;
    padding: 10px 20px;
}
.detail_button {
    position: fixed;
    right:0px;
    padding: 10px 20px;
}

/*main*/
main{
    background-color: var(--transparent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    gap: 20px;
}

#community-main{
    background-color: var(--transparent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: 20px;
}

#detail-main{
    background-color: var(--transparent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    gap: 20px;
}

#comment-main{
    background-color: var(--transparent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    gap: 20px;

}

.comment-icon{
    position: absolute;
        bottom: -40px;
        right: -40px;
}

.comment-icon:hover, .comment-icon:focus{
    color:var(--font-color-2);
    text-decoration: none;
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}

.comment-add-icon:hover, .comment-add-icon:focus{
    color:var(--font-color-2);
    text-decoration: none;
    transform: scale(2);
    transition: 0.5s ease-in-out;
}


.food, .sake, .team{
    grid-template-rows: auto auto;
}

.reservation{
    grid-template-columns: minmax(300px, auto);
    grid-template-rows: 800px auto;
}

/*section*/
.community-section{
    background-color: var(--third-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 40px;
    position: relative;
}

.comment-section{
    background-color: var(--forth-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 40px;
    position: relative;
}

.comment-add-section{
    background-color: var(--fifth-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 40px;
    position: relative;
}

.community-section figure, .comment-section figure, .comment-add-section figure{
    float: left;
    margin-right: 20px;
}

.community-section article img, .comment-section article img, .comment-add-section article figure img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    background-color: var(--font-color-2);
} 

.community-section figcaption{
    margin-top: 15px;
}


.community-title{
    font-size: 1.2rem;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.comment-title{
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.community-time{
    float: right;
    font-size: 0.8rem;
    font-style: italic;
    
    
}

.community-section figure img, .comment-section figure img, .comment-add-section figure img{
    height: 80px;
    border-radius: 15%;
    border: solid 2px var(--main-color);
}

#comment-add-btn{
    float: right
}


.details-section{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 40px;

    grid-template-rows: 50px 50px 50px;
}

.details-section figure{
    float: left;
    margin-right: 20px;
}

.details-title{
    font-size: 1.2rem;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

#forth-section{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 40px;
}

#ff-section{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    font-size: 0.8rem;
    border-radius: 40px;
}

.golden-list .list-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    gap: 8px; 
}

#prize-box{
    position: relative;
    bottom: 0px;
    grid-column: 1 / 3;
    height: 150px;
    font-size: 0.8rem;
    background-color: var(--main-color);
    color: var(--font-color-2);
    padding: 5px;
    margin: 5px;
    top: 20px;
    border-radius: 40px;
}

.text-content {
    padding-left: 30px; /* Adjust the value to increase or decrease the indentation */
}


article.water img {
    grid-row: 1/3;
    width: 250px;
    height: 250px;
    padding: 30px;
}


/* buttons */
.detail{
    border-radius: 100px;
}
.detail{
    border-radius: 100px;
    background-color: var(--font-color-2);
}

#map{
    width: 300px;
    height: 240px;
}


#table-section{
    background-color: var(--font-color-2);
    margin-top: 50px;
    overflow:auto;
}

table, td{
        border:solid 1px var(--font-color-1);
    }
table{
    font-size: 0.8rem;
    border-width:1px;
    background-color: var(--font-color-1);
}

#table-section img{
    max-height: 150px;
}

thead tr:first-child{
    font-size: 1.1rem;
    
    
}

td, th{
    padding:1px;
}
tr, td, thead, th{
    background-color: var(--font-color-2);
    color: var(--font-color-1);
    padding-left: 20px;
    padding-right: 20px;
}
thead {
text-align: center;
}
th{
background-color: var(--font-color-1);
color: var(--font-color-2);
}
tr:nth-child(2n+1) td{
background-color: var(--font-color-4);
color: var(--font-color-2);
}

/*form*/
.reserve-form{
    font-size: 0.8rem;;
}

.reserve-form input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
}

/*lorem-ipsum*/
.article-image{
    float: right;
}

cite{
    font-family: 'HanyiSentyZhao';
    
}

ol{
    list-style-type:lower-greek;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--font-color-2);
}

code{
    font-weight:bold;
	font-size: 0.8em;
    text-shadow: 2px 2px var(--deep-color);
}

.hr_section1 {
    border: 0;
    height: 1px;
    background: var(--hr-color);
}

.hr_section2 {
    border: 0;
    height: 1px;
    background: var(--hr-color);
}

.quote {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  .quote:before, .quote:after {
    content: '"';
    font-size: 3rem;
    position: absolute;
    color: var(--font-color-3);
  }
  .quote:before {
    top: -10px;
    left: 10px;
  }
  .quote:after {
    bottom: -10px;
    right: 10px;
  }
  .author {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    margin-top: 10px;
  }

/*pop pu*/
#pop-player-content {
    display: flex;
  }
  
  #pop-player-content figure {
    margin: 5px;
  }

  #pop-content img {
    width: 300px;
    height: 300px;
    animation: btn-yellow 2000ms infinite;
  }

  #close-pop:hover,
#close-pop:focus,
#close-pop:active {
  background-color: #f9e19b;
  color: white;
  transform: scale(1.2);
}

.pop-style {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(97, 97, 97, 0.8);
    opacity: 0;
  }
  
  .pop-box-style {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 800px;
    min-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--forth-color);
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px, rgba(0, 0, 0, 0.3) 0px 10px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .close-pop {
    background-color: white;
    color: var(--forth-color);
    border-radius: 20%;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #form_comment {
    border: 1px solid var(--dark-color);
    padding: 10px;            
    background:linear-gradient(290deg, 
                        var(--second-color), 
                        var(--second-color) 85%, 
                        var(--main-color) 100%);
    box-shadow: 0px 0px 0px 1px var(--second-color), 
                0px 0px 3px 3px var(--main-color);
    border-radius: 10px;
    margin-bottom:15px;
    color:var(--main-color);
    max-width:300px;
}

.input-label-group{      
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
}

.input-label-group input{      
    border-radius: 5px;    
    padding:2px 5px;
    font-weight: bold;
    color:var(--main-color);
    margin-bottom:3px;

    transition:all .2s ease;
}
.input-label-group input:focus, .input-label-group textarea:focus{      
    background-color: var(--fifth-color);
    color:var(--light-color);
    outline:none; 

}
.input-label-group label{
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: bold;        
    border:solid 1px var(--main-color);
    border-radius: 5px;
    padding:2px 5px;
    margin:3px 5px;    
}

/* color swatch wont fill space by default */
input[type='color']{
    width:100%;
}

textarea{
    width:100%;         /* fill available space */
    min-height:100px;   /* show more than 2 rows of data*/
    
    
}


/*footer*/
footer{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
}


.footer_div{
    width: 40%;
    color: var(--font-color-2)
    
}

footer ul{
    list-style-type: none;  
}

footer p{
    font-size: 0.6rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


#wrapper{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; 
    max-width:1024px;
    margin:auto;
}




@media (min-width:525px){

    h1{
        font-size: 8vw;
        left: 30%;
        /* top: 100px; */
    }
    
    /* h1 strong{
        font-size: 50vw;
    } */

    .golden-list{
        list-style: none;
    }

    .golden-list li:before{
        /* content: "\2606"; */
        color: var(--deep-color);
        font-weight: bold;
        display: inline-block;
        width: 2em;
        margin-left: -1em;
    }

    a, a:hover, a:focus, a:active{
        padding: 10px;
        text-align: center;
    }


    header{
        padding-top: 0;
    }

    #menu_block {
        display: none;
    }

    /*nav*/
    #nav_container{
        justify-content: end;
    }

    nav{
        display: block;
        font-size: 0.7rem;
        
    }

    #nav_ul{
        justify-content: space-between;
        list-style-type: none;
        width: 100%;
        margin-top: 0;
    }

    #nav_ul li{
        width: 10%;
    }
    
    #nav_ul p{
        width: 9%;
        
    }
    #nav_ul p a{
        padding: 20px;
    }

    #nav_logo{
        display: none;
    }

    .reverse_a, .reverse_a:hover, .reverse_a:focus, .reverse_a:active{
        border-bottom: none;
    }

    /* section */
    .food, .sake, .team{
        grid-template-rows: 800px auto;
    }

    /* #first-section, #second-section, #third-section{
        
        padding-left: 20px;
    }
    
    #first-section figure, #third-section figure{
       
        left: -60px;
    } */
    
    /* #first-section article, #second-section article, #third-section article{
        top: -50px;
        padding: 50px 20px;
        z-index: -1;
    } */

    /* #second-section figure{
        right: -50px;
    } */
    


    .today_goal{
        padding-bottom: 140px;
    }

    /* #forth-section h2{
        grid-column: 1/2 span;
    } */

    .reservation #forth-section{
        display: block;
        margin-top: 50px;
    }

    .percentage{
        grid-row: 1/3 span;
        grid-column: 2;
    }
    
    #map{
        width: 400px;
        height: 320px;
    }



}








