@charset "utf-8";

@import url("normalize.css");

@font-face {
    font-family: 'HanyiSentyZhao';
    src: url('../font/HanyiSentyZhao_Regular.ttf');        
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NotoSerifJP-Light';
    src: url('../font/NotoSerifJP-Light.otf');

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideLeft {
    0% { transform: translateX(100%);}
    100% { transform: translateX(0);}
    
}


  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

html {
    font-size: 1.1rem;
    box-sizing: border-box;
    font-family: 'NotoSerifJP-Light', sans-serif;
    
}
*{
box-sizing: inherit;
}

/* variables */
:root{     
    
    --main-color:rgb(83, 83, 83);
    --main-color-transparent:rgba(104, 104, 104, 0.25);    
    --second-color:rgb(231, 231, 231);    
    --second-color-transparent:rgba(255, 253, 253, 0.5);
    --transparent: rgba( 255, 255, 255, 0);
    
    /* palette */
    --font-color-1: #000000;
    --font-color-2:#e2e2e2;
    --font-color-3:#d4b572;
    --font-color-4:#969595;
    --deep-color: #ad7f1c;


}

h1{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  
}


h2{
    font-size: 1.3rem;
}

h2, h3, h4, h5, h6, p{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.title_underline{
    border-bottom:solid 1px var(--deep-color);
    
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle {
    stroke: var(--main-color);
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

/*anchor tag*/
a, input{
    font-size: 0.8rem;
    color: var(--font-color-1);
    border: solid 1px var(--main-color);
    padding: 10px 100px;
    text-decoration: none;
}

a:hover, a:focus, input:hover, input:focus{
    color:var(--font-color-2);
    background-color:var(--main-color);
    border: solid 1px var(--main-color);
    padding: 10px 100px;
    text-decoration: none;
    transition: all 0.4s ease;
}

a:active, input:active{
    color:var(--font-color-2);
    background-color:var(--font-color-3);
    border: solid 1px var(--font-color-3);
    padding: 10px 100px;
    text-decoration: none;
}

.fadein_img { 
    animation: fadeIn 3s; 
}

#background_img{
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* background-image: url("../images/omakase-restaurant2_bg.jpg"); */
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    

}

/*scroll animation*/
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
opacity: 1;
transform: translate(0, 0);
}


/*header */
header{
    background-color: var(--font-color-1);
}

header p{
    text-align: right;
}

header p a{
    padding-right: 10px;
}

#menu_block{
    margin-right: 50px;
}

main, section, article{
    padding: 10px;
}

.off{
    display: none;
}


/*nav*/
.show {
	display: block;
    animation: 0.5s both slideLeft; 
}



#nav_container{
    display: flex;
    background-color: var(--main-color);
    transition: transform 2s;
    
}

#nav_ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none;
    padding-left: 10px;
    width: 40%;
}

#nav_ul li{
    width: 100%;
}

#nav_ul p{
    width: 40%;
}
#nav_ul p a{
    padding: 20px;
}

#nav_item2, #nav_item3, #nav_item4{
    padding-top: 5px;
    flex: 1 1 0;
}

#nav_item1{
    flex: 1 1 0;
}

.reverse_a{
    color: var(--font-color-2);
    text-decoration:none;
    display: block;
    border-bottom: solid 1px var(--font-color-2);
    padding-left: 10px;
    padding-right: 0px;

}

.reverse_a:hover, .reverse_a:focus{
    color: var(--font-color-4);
    text-decoration:none;
    border-bottom: solid 1px var(--font-color-4);
    padding-left: 10px;
    padding-right: 0px;
}

.reverse_a:active{
    color: var(--font-color-3);
    background-color: var(--font-color-1);
    text-decoration:none;
    border: solid 1px var(--font-color-1);
    border-bottom: solid 1px var(--font-color-3);
    padding-left: 10px;
    padding-right: 0px;
}

.nav_img_big:hover, .nav_img_big:focus{
    transition: transform 0.5s;
    transform: translate(0, -10px) scale(1.1);

}

.nav_img:hover, .nav_img:focus{
    transition: transform 0.5s;
    transform: translate(0, -10px) scale(1.5);

}

/*logo anchor tag*/
.logo_a{
    color: var(--font-color-3);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 2rem;
}

.logo_a:hover, a:focus{
    color:var(--font-color-2);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.logo_a:active{
    color:var(--font-color-4);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
}

.plus{
    color: var(--font-color-3);
    background-color: none;
    border: none;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 5rem;
}

#nav_logo{
    
    font-family: 'HanyiSentyZhao', sans-serif;
    font-size: 10rem;
    color: var(--font-color-2);
    position: relative;
    left: 20%;
    top: 70px;
}

.menu{
    color: var(--font-color-3);
    font-size: 1.5rem;
}

/*main*/
main{
    background-color: var(--transparent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    gap: 20px;

}

.food, .sake, .team{
    grid-template-rows: auto auto;
}

.reservation{
    grid-template-columns: minmax(300px, auto);
    grid-template-rows: 800px auto;
    
}

/*section*/
.community-section{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 0.8rem;
    background-color: var(--second-color);
    border-radius: 40px;
}

.community-section figure{
    float: left;
    margin-right: 20px;
}

.community-section figcaption{
    margin-top: 15px;
}


.community-title{
    font-size: 1.2rem;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.community-time{
    float: right;
    font-size: 0.8rem;
    font-style: italic;
    
    
}

.community-section figure img{
    height: 80px;
    border-radius: 15%;
    border: solid 2px var(--main-color);
}



#forth-section{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-size: 0.8rem;
    background-color: var(--second-color);
    border-radius: 40px;
}

#prize-box{
    font-size: 0.8rem;
    background-color: var(--main-color);
    color: var(--font-color-2);
    padding: 20px;
    border-radius: 40px;
}

/* buttons */
.detail{
    border-radius: 100px;
}
.detail{
    border-radius: 100px;
    background-color: var(--font-color-2);
}

#map{
    width: 300px;
    height: 240px;
}


#table-section{
    background-color: var(--font-color-2);
    margin-top: 50px;
    overflow:auto;
}

table, td{
        border:solid 1px var(--font-color-1);
    }
table{
    font-size: 0.8rem;
    border-width:1px;
    background-color: var(--font-color-1);
}

#table-section img{
    max-height: 150px;
}

thead tr:first-child{
    font-size: 1.1rem;
    
    
}

td, th{
    padding:1px;
}
tr, td, thead, th{
    background-color: var(--font-color-2);
    color: var(--font-color-1);
    padding-left: 20px;
    padding-right: 20px;
}
thead {
text-align: center;
}
th{
background-color: var(--font-color-1);
color: var(--font-color-2);
}
tr:nth-child(2n+1) td{
background-color: var(--font-color-4);
color: var(--font-color-2);
}

/*form*/
.reserve-form{
    font-size: 0.8rem;;
}

.reserve-form input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
}

/*lorem-ipsum*/
.article-image{
    float: right;
}

cite{
    font-family: 'HanyiSentyZhao';
    
}

ol{
    list-style-type:lower-greek;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--font-color-2);
}

code{
    font-weight:bold;
	font-size: 0.8em;
    text-shadow: 2px 2px var(--deep-color);
}


/*footer*/
footer{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
}


.footer_div{
    width: 40%;
    color: var(--font-color-2)
    
}

footer ul{
    list-style-type: none;  
}

footer p{
    font-size: 0.6rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


#wrapper{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; 
    max-width:1024px;
    margin:auto;
}



@media (min-width:525px){

    h1{
        font-size: 8vw;
        left: 30%;
        /* top: 100px; */
    }
    
    /* h1 strong{
        font-size: 50vw;
    } */

    .golden-list{
        list-style: none;
    }

    .golden-list li:before{
        content: "\2606";
        color: var(--deep-color);
        font-weight: bold;
        display: inline-block;
        width: 2em;
        margin-left: -1em;
    }

    a, a:hover, a:focus, a:active{
        padding: 10px;
        text-align: center;
    }

    header{
        padding-top: 0;
    }

    #menu_block {
        display: none;
    }

    /*nav*/
    #nav_container{
        justify-content: end;
    }

    nav{
        display: block;
        font-size: 0.7rem;
        
    }

    #nav_ul{
        justify-content: space-between;
        list-style-type: none;
        width: 100%;
        margin-top: 0;
    }

    #nav_ul li{
        width: 10%;
    }
    
    #nav_ul p{
        width: 9%;
        
    }
    #nav_ul p a{
        padding: 20px;
    }

    #nav_logo{
        display: none;
    }

    .reverse_a, .reverse_a:hover, .reverse_a:focus, .reverse_a:active{
        border-bottom: none;
    }

    /* section */
    .food, .sake, .team{
        grid-template-rows: 800px auto;
    }

    #first-section, #second-section, #third-section{
        
        padding-left: 20px;
    }
    
    #first-section figure, #third-section figure{
       
        left: -60px;
    }
    
    #first-section article, #second-section article, #third-section article{
        top: -50px;
        padding: 50px 20px;
        z-index: -1;
    }

    
    #second-section figure{
        right: -50px;
    }
    
    #forth-section{
        font-size: 0.8rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px repeat(6, 50px);
        padding-bottom: 140px;
    }

    #forth-section h2{
        grid-column: 1/2 span;
    }

    .reservation #forth-section{
        display: block;
        margin-top: 50px;
       
    }
    
    #map{
        width: 400px;
        height: 320px;
    }

    #prize-box{
        position: relative;
        top: -180px;
        margin-left: 90px;
        margin-right: 90px;
        
    }

}








