<%- include("templates/header") %> 
<h1>Log in</h1>
<form action='/loggingIn' method='post'>
    <input name='username' type='text' placeholder='username'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
</form>
<% if (missingUsername) { %>
    <p>Please enter a username</p>
<% } %>  
<% if (missingPassword) { %>
    <p>Please enter a password</p>
<% } %>
<% if (incorrectUsername) { %>
    <p>username not valid</p>
<% } %>  
<% if (incorrectPassword) { %>
    <p>Incorrect password</p>
<% } %>  
<%- include("templates/footer") %>