<%- include("templates/header") %> 
<h1>Hello, <%- username %> </h1>
<img src=<%- picURL %> width="300px" height="300px" />
<br>
<a href="/logout">
    <button>Log out</button>
</a>
<%- include("templates/footer") %>